<!doctype html>
<html lang="en">
  <%-include('./partials/head')%>

  <body>
    <!-- navigation bar -->
    <%-include('./partials/nav')%>

    <!-- /*Hero for the page */ -->
    <div class ="hero">
        <div class="row justify-content-between">
            <div class="col-12 justify-content-center py-5">
              <h1 class="main-heading">404</h1>
              <h3 class="sub-heading">Path u entered doesnt exists</h3>
            </div>
        </div>
    </div>

    <%-include('./partials/footer')%>

  </body>
</html>