<!doctype html>
<html lang="en">
  <%-include('./partials/head')%>

  <body>
    <!-- navigation bar -->
    <%-include('./partials/nav')%>

    <!-- /*Hero for the page */ -->
    <div class ="hero">
        <div class="row justify-content-between">
            <div class="col-12 justify-content-center py-5">
              <h1 class="main-heading">Campus for Sure</h1>
              <h3 class="sub-heading">Enlight the path for your Juniors</h3>
            </div>
        </div>
    </div>

    <!-- latest reviews -->
    <div class="container py-2">
        <h2 class="Latest-reviews py-2">About Us</h3>
        <div class="row">
            <hr>
            <div class="col-4 col-md-12 reviews">
                <h3 >Campus Helper App</h3>
                <p>
                    We are here to help students to interact with their seniors for various suggestions.
                    Students can post their questions and seniors can post their suggestions.
                </p>
            </div>
            <hr>
        </div>
    </div>

    <%-include('./partials/footer')%>

  </body>
</html>